<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      h1 {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;">Paras ki nayi website</h1>
    <button>click me</button>
    
  </body>
</html>
