<!DOCTYPE html>
<html>
  <head>
    <title>Navigation Bar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
  </head>
  <body>
    <nav>
      <div class="menu-icon">
        <div class="menu-icon-bar"></div>
        <div class="menu-icon-bar"></div>
        <div class="menu-icon-bar"></div>
      </div>
      <ul>
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#whyus">Why Us</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>      
      </ul>
  
      <div class="signup-signin">
        <ul>
          <li>
            <a>Sign up</a>
          </li>
          <li>
            <a>Sign in</a>
          </li>
        </ul>
      </div>
    </nav>
    

    <div id="home">
      <h1>Home Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam similique beatae porro odio ducimus doloremque mollitia architecto rem minus magnam hic, ullam, delectus quidem sapiente velit non doloribus libero explicabo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi eum possimus sit illum voluptates eveniet vitae quod nam cupiditate, tempora nostrum hic quaerat? Ex ipsa dolore repudiandae labore odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium sunt aut, natus veritatis exercitationem molestias commodi, illo, maxime maiores blanditiis. Veniam aperiam quidem qui officiis inventore minus, consectetur corporis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ea eaque nam odio saepe repellat ratione, id ab fugit nobis quibusdam neque maiores dignissimos excepturi, ad delectus quos molestias placeat!
      </p>
    </div>

    <div id="about">
      <h1>About Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam similique beatae porro odio ducimus doloremque mollitia architecto rem minus magnam hic, ullam, delectus quidem sapiente velit non doloribus libero explicabo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi eum possimus sit illum voluptates eveniet vitae quod nam cupiditate, tempora nostrum hic quaerat? Ex ipsa dolore repudiandae labore odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium sunt aut, natus veritatis exercitationem molestias commodi, illo, maxime maiores blanditiis. Veniam aperiam quidem qui officiis inventore minus, consectetur corporis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ea eaque nam odio saepe repellat ratione, id ab fugit nobis quibusdam neque maiores dignissimos excepturi, ad delectus quos molestias placeat!

      </p>
    </div>

    <div id="whyus">
      <h1>Why Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam similique beatae porro odio ducimus doloremque mollitia architecto rem minus magnam hic, ullam, delectus quidem sapiente velit non doloribus libero explicabo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi eum possimus sit illum voluptates eveniet vitae quod nam cupiditate, tempora nostrum hic quaerat? Ex ipsa dolore repudiandae labore odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium sunt aut, natus veritatis exercitationem molestias commodi, illo, maxime maiores blanditiis. Veniam aperiam quidem qui officiis inventore minus, consectetur corporis.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ea eaque nam odio saepe repellat ratione, id ab fugit nobis quibusdam neque maiores dignissimos excepturi, ad delectus quos molestias placeat!

      </p>
    </div>
    

    <script src="javascripts/script.js"></script>    
  </body>
</html>
